@page
@using TestTask.Services
@model TestTask.Pages.Divisions.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Вы уверены, что хотите удалить подразделение?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Название
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Division.Name)
        </dd>
        <dt class="col-sm-2">
            Дата формирования
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Division.FormationDate)
        </dd>
        <dt class="col-sm-2">
            Описание
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Division.Description)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Division.Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-route-id="@PageHelper.SelectedDivisionIdOnFilter" asp-page-handler="Filter" asp-page="../Index/">Назад</a>
    </form>
</div>
