@page
@using TestTask.Models
@model TestTask.Pages.Divisions.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Division</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Division.ID" />
            <div class="form-group">
                <label asp-for="Division.Name" class="control-label"></label>
                <input asp-for="Division.Name" class="form-control" />
                <span asp-validation-for="Division.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Division.DateOfFormation" class="control-label"></label>
                <input asp-for="Division.DateOfFormation" class="form-control" />
                <span asp-validation-for="Division.DateOfFormation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Division.Description" class="control-label"></label>
                <input asp-for="Division.Description" class="form-control" />
                <span asp-validation-for="Division.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
               <select asp-for="Division.Parent.ID" asp-items="Model.Divisions">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
